.glass1{background: url('/images/lobby/glasses.png') 0 0;width: 152;height: 265;}
.glass1mask{background: url('/images/lobby/glasses.png') 154 259;width: 140;height: 150;}
.glass2{background: url('/images/lobby/glasses.png') 154 0;width: 155;height: 257;}
.glass2mask{background: url('/images/lobby/glasses.png') 276 437;width: 148;height: 98;}
.glass3{background: url('/images/lobby/glasses.png') 311 0;width: 138;height: 248;}
.glass3mask{background: url('/images/lobby/glasses.png') 0 267;width: 132;height: 153;}
.glass4{background: url('/images/lobby/glasses.png') 311 250;width: 152;height: 185;}
.glass4mask{background: url('/images/lobby/glasses.png') 134 411;width: 140;height: 143;}
